body{
    background-image: url("nightsky1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: arial; 
}

#navbar{
    color: white; 
    text-align: right;
    width: 90%;
    align-items: center;
    margin: auto;

}

a{
    margin: 0.5em;
    font-size: 1.5em;
}

a:link{
    color: #F0E68C;
}
a:visited{
    color: #F0E68C;
}

table{
    color: #F0E68C;
    margin: auto;
    width: 80%;
    border: 0.2em solid;
    text-align: center;
}

h2{
    color: #F0E68C;
}

