body{
    background-image: url("nightsky1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;

    font-family: arial; 
}

table{
    color: #F0E68C;
    margin: auto;
    width: 80%;
    border: 0.2em solid;
    text-align: center;
}

h2{
    color: #F0E68C;
}

