body{
    background-color: #222D5A;
    font-family: tahoma; 
}

#navbar{
    color: white; 
    text-align: right;
    width: 90%;
    align-items: center;
    margin: auto;
    
}

a{
    margin: 0.5em;
}

a:link{
    color: white;
}
#about{
    color: white; 
    text-align: center;
    width: 85%;
    align-items: center;
    margin: auto;
}
h2{
    font-size: 4em;
}